* {
        box-sizing: border-box;
}

:root {
        --body-background: #FAFAF8;
        --header-text: black;
        --header-background: white;
        --header-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
        --input-form-background: white;
        --add-ingredient-button-background: #141413;
        --add-ingredient-button-text: #FAFAF8;
        --ingredient-text: black;
        --ingredient-list-text: #475467;
        --get-recipe-background: #F0EFEB;
        --get-recipe-ready-text: black;
        --get-recipe-text: #6B7280;
        --get-recipe-button-background: #D17557;
        --get-recipe-button-text: #FAFAF8;
        --suggested-recipe-text: #475467;
}

.dark {
        --header-text: white;
        --header-background: #201e23;
        --header-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.08), 0px 1px 2px 0px rgba(255, 255, 255, 0.04);
        --body-background: #121212;
        --input-form-background: #121212;
        --add-ingredient-button-background: #911e0a;
        --add-ingredient-button-text: #FAFAF8;
        --ingredient-text: white;
        --ingredient-list-text: #E4E4E4;
        --get-recipe-background: #272726;
        --get-recipe-ready-text: white;
        --get-recipe-text: #b1c5ee;
        --get-recipe-button-background: #911e0a;
        --get-recipe-button-text: #FAFAF8;
        --suggested-recipe-text: #e4e4e4d5;
}

body {
        margin: 0;
        padding: 0;
        font-family: Inter, sans-serif;
        background-color: var(--body-background);
        transition: background-color 0.3s ease, color 0.3s ease;

}

header {
        display: flex;
        background-color: var(--header-background);
        /* justify-content: center; */
        align-items: center;
        gap: 11px;
        height: 90px;
        box-shadow: var(--header-shadow);
        transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-toggle {
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        margin-right: 16px;
}

.header-center {
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 1;
        justify-content: center;
}

.header-center svg {
        width: 60px;
        height: 60px;
        color: var(--header-text);
        /* background-color: red; */

}

.header-center h1 {
        font-weight: 400;
        color: var(--header-text)
}


.header-right {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 12px;
        margin-right: 20px;
}

.github-link {
        width: 30px;
        height: 30px;
        transition: box-shadow 0.4s ease-in;
        border-radius: 50%;
        border: none;
}

.github-link svg {
        width: 30px;
        height: 30px;
        color: var(--header-text)
}

.github-link:hover {
        box-shadow: 0 0 45px 2px #d17557;
}

.eggflip-container {
        padding-top: 5px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;


}

main {
        padding: 30px 100px 30px;
}

@media only screen and (max-width: 790px) {
        main {
                padding: 30px 50px 30px;
        }
}


.add-ingredient-form {
        display: flex;
        justify-content: center;
        gap: 12px;
}

.add-ingredient-form input {
        padding: 9px 13px;
        border-radius: 6px;
        border: 1px solid #D1D5DB;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        flex-grow: 1;
        max-width: 400px;
        min-width: 150px;
        background-color: var(--input-form-background);
        color: var(--header-texts);

}

.add-ingredient-form button {
        font-family: Inter, sans-serif;
        border-radius: 6px;
        border: none;
        background-color: var(--add-ingredient-button-background);
        color: var(--add-ingredient-button-text);
        width: 150px;
        font-size: 0.875rem;
        font-weight: 500;

}

.add-ingredient-form>button::before {
        content: "+";
        margin-right: 5px;
}

.ingredients-title {
        color: var(--ingredient-text);
}

ul.ingredients-list {
        margin-bottom: 48px;
}

ul.ingredients-list>li {
        color: var(--ingredient-list-text);
        line-height: 28px;
}

.get-recipe-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        background: var(--get-recipe-background);
        padding: 10px 28px;
}

.get-recipe-container h3 {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 24px;
        color: var(--get-recipe-ready-text);
}

.get-recipe-container p {
        color: var(--get-recipe-text);
        font-size: 0.875rem;
        line-height: 20px;
}

.get-recipe-container button {
        border: none;
        border-radius: 6px;
        background: var(--get-recipe-button-background);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
        color: var(--get-recipe-button-text);
        padding: 9px 17px;
        font-family: Inter, sans-serif;
        font-size: 0.875rem;
        cursor: pointer;
}

.get-recipe-container button:hover:not(:disabled) {
        -webkit-animation: heartbeat 1.5s ease-in-out 2 both;
        animation: heartbeat 1.5s ease-in-out 2 both;
}

.get-recipe-container button:disabled {
        cursor: not-allowed;
        opacity: 0.7;
}

.suggested-recipe-container {
        color: var(--suggested-recipe-text);
        line-height: 28px;
        font-size: 1.125rem;
        font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
        margin-bottom: 8px;
}

.loader {
        display: flex;
        justify-content: center;
        height: 30vh;
        align-items: center;
}


.side-bar-toggle {
        color: black;
        margin-left: 20px;
        color: var(--header-text);
        height: 1.5rem;
        width: 1.5rem;
        padding: 0;
        border-radius: 5px;
        transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
}


.side-bar-toggle:hover {

        box-shadow: 0 0 45px 8px #d17557;
}

.side-bar-toggle:active {
        border: 2px solid #d17557;
}

.side-bar {
        background-color: var(--body-background); 
}


.enter-api-keys {
        margin-top: 50px;

}

#apiInput {
        background-color: var(--body-background);
        width: 90%;

}

.api-button {
        background-color: var(--get-recipe-button-background);
        color: var(--get-recipe-button-text);
}

.button-expand {
        width: 100%;
        margin: 3px;
}

.input-group {
        display: flex;
        padding: 0 3px;
}

.api-button-group {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;

}


.text-focus-in {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


.slide-in-blurred-bottom {
        -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-fwd-center {
        -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.wobble-hor-bottom {
        -webkit-animation: wobble-hor-bottom 0.8s both;
        animation: wobble-hor-bottom 0.8s both;
}


/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-bottom {
        0% {
                -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-filter: blur(40px);
                filter: blur(40px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

@keyframes slide-in-blurred-bottom {
        0% {
                -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-filter: blur(40px);
                filter: blur(40px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-3 3:33:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}


@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-3 3:39:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes text-focus-in {
        0% {
                -webkit-filter: blur(12px);
                filter: blur(12px);
                opacity: 0;
        }

        100% {
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {

        0%,
        100% {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }

        15% {
                -webkit-transform: translateX(-30px) rotate(-6deg);
                transform: translateX(-30px) rotate(-6deg);
        }

        30% {
                -webkit-transform: translateX(15px) rotate(6deg);
                transform: translateX(15px) rotate(6deg);
        }

        45% {
                -webkit-transform: translateX(-15px) rotate(-3.6deg);
                transform: translateX(-15px) rotate(-3.6deg);
        }

        60% {
                -webkit-transform: translateX(9px) rotate(2.4deg);
                transform: translateX(9px) rotate(2.4deg);
        }

        75% {
                -webkit-transform: translateX(-6px) rotate(-1.2deg);
                transform: translateX(-6px) rotate(-1.2deg);
        }
}

@keyframes wobble-hor-bottom {

        0%,
        100% {
                -webkit-transform: translateX(0%);
                transform: translateX(0%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }

        15% {
                -webkit-transform: translateX(-30px) rotate(-6deg);
                transform: translateX(-30px) rotate(-6deg);
        }

        30% {
                -webkit-transform: translateX(15px) rotate(6deg);
                transform: translateX(15px) rotate(6deg);
        }

        45% {
                -webkit-transform: translateX(-15px) rotate(-3.6deg);
                transform: translateX(-15px) rotate(-3.6deg);
        }

        60% {
                -webkit-transform: translateX(9px) rotate(2.4deg);
                transform: translateX(9px) rotate(2.4deg);
        }

        75% {
                -webkit-transform: translateX(-6px) rotate(-1.2deg);
                transform: translateX(-6px) rotate(-1.2deg);
        }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-6-6 20:13:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
        0% {
                -webkit-transform: translateZ(-1400px);
                transform: translateZ(-1400px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                opacity: 1;
        }
}

@keyframes slide-in-fwd-center {
        0% {
                -webkit-transform: translateZ(-1400px);
                transform: translateZ(-1400px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                opacity: 1;
        }
}